$background: #999;

$primary: blue;
$primary-dark: blue;
$primary-light: blue;
$primary-soft: blue;

$light:#999;

$success: green;
$warning: orange;
$error: red;
$info: blue;

$text: #333;
$text-muted: #999;