VUE_APP_I18N_LOCALE=tr
VUE_APP_I18N_FALLBACK_LOCALE=tr
VUE_APP_API_ENDPOINT=https://test-api.nebulavoip.com/v3/
VUE_APP_SOCKET_ENDPOINT=https://test-socket.nebulavoip.com
VUE_APP_ENV=production
VUE_APP_CF_TURNSTILE_ENABLED=true
VUE_APP_CF_TURNSTILE_SITE_KEY=